@mixin gol-grid-container {
  @include grid-container;

  @include grid-media($grid-desktop) {
    margin: 0 auto;
    max-width: 1156px;

    > :first-child {
      margin-left: 0;
    }

    > div > div:first-child {
      margin-left: 0;
    }
  }
}

@mixin gol-grid-column($mobile, $desktop-light, $desktop) {
  @include grid-column($mobile, $grid-mobile);

  @include grid-media($grid-desktop-light) {
    @include grid-column($desktop-light, $grid-desktop-light);
  }

  @include grid-media($grid-desktop) {
    @include grid-column($desktop);
    width: calc(80px * #{$desktop} + 16px * #{$desktop - 1});
  }
}

@mixin gol-grid-column-push($mobile, $desktop-light, $desktop) {
  @include grid-push($mobile, $grid-mobile);

  @include grid-media($grid-desktop-light) {
    @include grid-push($desktop-light);
  }

  @include grid-media($grid-desktop) {
    margin-left: calc(80px * #{$desktop} + 16px * #{$desktop}) !important;
  }
}

@mixin gol-grid-column-collapse() {
  margin-left: 0;
}

@mixin gol-grid-fix-mobile-margin() {
  @media (min-width: 319px) and (max-width: 979px) {
    margin-left: 0;
  }
}

.l-container {
  @include gol-grid-container;
}
