@mixin gol-grid-container {
  @include grid-container;
  margin: 0 auto;

  @include grid-media($grid-desktop) {
    max-width: 1140px;

    > :first-child {
      margin-left: 0;
    }

    > div > div:first-child {
      margin-left: 0;
    }
  }
}

@mixin gol-grid-column($mobile, $desktop-light, $desktop) {
  @include grid-column($mobile, $grid-mobile);

  @include grid-media($grid-desktop-light) {
    @include grid-column($desktop-light);
  }

  @include grid-media($grid-desktop) {
    width: calc(80px * #{$desktop} + 16px * #{$desktop - 1});
  }
}

@mixin gol-grid-column-push($mobile, $desktop-light, $desktop) {
  @include grid-push($mobile, $grid-mobile);

  @include grid-media($grid-desktop-light) {
    @include grid-push($desktop-light);
  }

  @include grid-media($grid-desktop) {
    margin-left: calc(
      80px * #{$desktop} + 16px * #{$desktop - 1} + 16px
    ) !important;
  }
}

.l-container {
  @include gol-grid-container;
}
