.u {
  &-relative {
    position: relative;
  }
  &-hide-sm {
    @media screen and (max-width: 980px) {
      display: none;
    }
  }
  &-inline-block {
    display: inline-block;
  }
}

.auxiliar-text {
  position: absolute;
  margin-left: 16px;
}
