.card {
  @include gol-grid-column(2, 8, 8);
  min-height: 200px;
  margin-top: 40px;
  box-shadow: 9px 15px 25px 0px rgba(0, 0, 0, 0.75);

  &-image {
    @include gol-grid-column(2, 4, 4);
    width: 150px;
    height: 150px;
    background-image: url(../../assets/aeronave-gol-620x330.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: center;
  }

  &-text {
    @include gol-grid-column(2, 4, 4);
    background-color: #fff;
    text-align: justify;
  }
}
