.card {
  @include gol-grid-column(2, 6, 6);
  @include gol-grid-column-push(0, 3, 3);
  padding: 20px 0;
  box-shadow: 9px 15px 25px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  align-items: center;

  &-image {
    flex: 1;
    height: 200px;
    width: 200px;
    background-image: url(aeronave-gol-620x330.jpg);
    background-size: cover;
    background-position-x: center;
  }

  &-text {
    flex: 1;
    text-align: justify;
    margin-left: 0 !important;
    padding: 5px;
  }

  @include grid-media($grid-desktop-light) {
    flex-direction: row;
    height: 200px;

    &-image {
      flex: 0.6;
    }
  }
}
