.card {
  @include gol-grid-column(2, 8, 8);
  background-color: #fff7f0;
  min-height: 200px;
  box-shadow: 9px 15px 25px 0px rgba(0, 0, 0, 0.75);

  &-image {
    width: 150%;
    height: 150px;
    background-image: url(../../assets/aeronave-gol-620x330.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: center;
  }

  &-text {
    text-align: justify;
    @include grid-media($grid-mobile) {
      @include gol-grid-column-collapse;
    }
  }
}
