.menu {
  @include gol-grid-container;
  color: $white;
  text-transform: uppercase;
  font-size: 6px;

  &-column-button {
    @include gol-grid-column(2, 3, 3);
    @include gol-grid-column-push(0, 1, 1);
  }

  &-column-statics {
    @include gol-grid-column(2, 3, 3);
  }

  &-item {
    font-size: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;

    @include grid-media($grid-mobile) {
      padding: 0 10px;
    }
  }
}
