.menu {
  @include gol-grid-container;
  background-color: $fifth;
  color: $white;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;

  &-column-button {
    @include gol-grid-column(2, 3, 3);
    @include gol-grid-column-push(0, 1, 1);
    @include gol-grid-fix-mobile-margin;
  }

  &-column-statics {
    @include gol-grid-column(2, 5, 5);
    @include gol-grid-fix-mobile-margin;
  }

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  @include grid-media($grid-desktop-light) {
    flex-direction: row;
  }
}
