*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: Roboto;
  vertical-align: baseline;
}

#root {
  position: relative;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
}

header {
  background-color: $first;
  height: auto;
  padding-top: 20px;
}
