@mixin gol-grid-container {
  @include grid-container;
  max-width: 288px;
  margin: 0 auto;

  @include grid-media($grid-desktop-light) {
    max-width: 980px;

    > :first-child {
      margin-left: 0;
    }

    > div > div:first-child {
      margin-left: 0;
    }
  }

  @include grid-media($grid-desktop) {
    max-width: 1140px;
  }
}

@mixin gol-grid-column($mobile, $desktop-light, $desktop) {
  @include grid-column($mobile, $grid-mobile);

  @include grid-media($grid-desktop-light) {
    @include grid-column($desktop-light);
    width: calc(67px * #{$desktop-light} + 16px * #{$desktop-light - 1});
  }

  @include grid-media($grid-desktop) {
    @include grid-column($desktop);
    width: calc(80px * #{$desktop} + 16px * #{$desktop - 1});
  }
}

.l-container {
  @include gol-grid-container;
}
