.u {
  &-relative {
    position: relative;
  }
  &-hide-sm {
    @media screen and (max-width: 980px) {
      display: none;
    }
  }
}

.auxiliar-text {
  position: absolute;
  margin-left: 16px;
}

// .grid-overlay-column {
//   opacity: .2;
// }
