@mixin gol-grid-container {
  lost-utility: clearfix;

  @media screen and (min-width: 360px) {
    lost-center: 288px;
  }

  @media screen and (min-width: 980px) {
    lost-center: 980px;
  }

  @media screen and (min-width: 1140px) {
    lost-center: 1140px;
  }
}

@mixin gol-grid-column($mobile, $desktop-light, $desktop) {
  @media screen and (min-width: 360px) {
    lost-column: #{$mobile}/ 2;
  }

  @media screen and (min-width: 980px) {
    lost-column: #{$desktop-light}/ 12;
  }

  @media screen and (min-width: 1140px) {
    lost-column: #{$desktop}/ 12;
  }
}

@mixin gol-grid-row($row) {
  @media screen and (min-width: 360px) {
    lost-row: #{$row};
  }

  @media screen and (min-width: 980px) {
    lost-row: #{$row};
  }

  @media screen and (min-width: 1140px) {
    lost-row: #{$row};
  }
}

@mixin gol-grid-offset($mobile, $desktop-light, $desktop) {
  @media screen and (min-width: 360px) {
    lost-offset: #{$mobile}/ 2;
  }

  @media screen and (min-width: 980px) {
    lost-offset: #{$desktop-light}/ 12;
  }

  @media screen and (min-width: 1140px) {
    lost-offset: #{$desktop}/ 12;
  }
}

@mixin gol-grid-column-collapse() {
}

@mixin gol-grid-fix-mobile-margin() {
}

.l-container {
  @include gol-grid-container;
}
