$grid-initial: (
  columns: 2,
  gutter: 16px,
  media: 0
);

$grid-mobile: (
  columns: 2,
  gutter: 16px,
  media: 319px
);

$grid-desktop-light: (
  columns: 12,
  gutter: 16px,
  media: 980px
);

$grid-desktop: (
  columns: 12,
  gutter: 16px,
  media: 1140px
);
