.introduction {
  &-content {
    @include gol-grid-container;
    text-align: justify;
    h1 {
      @include gol-grid-column(2, 12, 12);
    }

    h3 {
      @include gol-grid-column(2, 6, 6);
    }
  }
  &-text {
    @include gol-grid-column(2, 6, 6);
  }
}

.showcase {
  &-introduction {
    @include gol-grid-container;
    text-align: justify;
    h1,
    h2 {
      @include gol-grid-column(2, 12, 12);
    }

    p {
      @include gol-grid-column(2, 6, 6);
      @include gol-grid-offset(0, 3, 3);
    }
  }

  &-demonstration {
    @include gol-grid-container;
    text-align: center;

    h3 {
      @include gol-grid-column(2, 12, 12);
    }
  }
}
